/* line 3, ../../../netMatters/Portfolio/scss/header/_header.scss */
.wrapper {
  display: block;
  background-color: white;
}

/* line 6, ../../../netMatters/Portfolio/scss/header/_header.scss */
.wrapper .header-wrapper {
  display: grid;
  background-image: url(../img/header.jpg);
  background-size: cover;
  height: 100vh;
  width: auto;
}

/* line 13, ../../../netMatters/Portfolio/scss/header/_header.scss */
.wrapper .header-wrapper .header-text {
  display: grid;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 200px auto auto;
  width: 100%;
  height: 200px;
  justify-items: center;
}

/* line 21, ../../../netMatters/Portfolio/scss/header/_header.scss */
.wrapper .header-wrapper .header-text h1 {
  text-align: center;
  display: block;
  font-size: 1.8rem;
  margin: auto;
  color: black;
}

/* line 29, ../../../netMatters/Portfolio/scss/header/_header.scss */
.wrapper .header-wrapper .header-text p {
  display: block;
  font-size: 1.5rem;
  margin: auto;
  color: black;
}

/* line 37, ../../../netMatters/Portfolio/scss/header/_header.scss */
.wrapper .header-wrapper .scroll-wrapper {
  display: flex;
  height: 100%;
  margin: auto;
}

/* line 42, ../../../netMatters/Portfolio/scss/header/_header.scss */
.wrapper .header-wrapper .scroll-wrapper a {
  display: grid;
  text-decoration: none;
  margin: auto auto 10px;
  align-self: flex-end;
}

/* line 48, ../../../netMatters/Portfolio/scss/header/_header.scss */
.wrapper .header-wrapper .scroll-wrapper a .fa-arrow-down {
  margin: auto;
  color: white;
  font-size: 3rem;
}

/* line 54, ../../../netMatters/Portfolio/scss/header/_header.scss */
.wrapper .header-wrapper .scroll-wrapper a p {
  margin: auto;
  color: white;
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  /* line 71, ../../../netMatters/Portfolio/scss/header/_header.scss */
  .wrapper .header-wrapper .header-text {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  /* line 81, ../../../netMatters/Portfolio/scss/header/_header.scss */
  .wrapper .header-wrapper .header-text {
    width: 600px;
  }
}

/* line 4, ../../../netMatters/Portfolio/scss/header/_header-page.scss */
.about-wrapper .header-about-wrapper {
  display: grid;
  background-image: url(../img/header-top.jpg);
  background-size: cover;
  height: 300px;
  justify-content: center;
}

/* line 11, ../../../netMatters/Portfolio/scss/header/_header-page.scss */
.about-wrapper .header-about-wrapper .header-about-title {
  display: inline-block;
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  width: 350px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  vertical-align: middle;
}

/* line 21, ../../../netMatters/Portfolio/scss/header/_header-page.scss */
.about-wrapper .header-about-wrapper .header-about-title h1 {
  margin: auto;
  vertical-align: middle;
}

/* line 3, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.wrapper, .about-wrapper {
  position: relative;
}

/* line 5, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.wrapper .hamburger, .about-wrapper .hamburger {
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 20px;
}

/* line 10, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.wrapper .hamburger .fa-bars, .about-wrapper .hamburger .fa-bars {
  font-size: 3rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 10px;
}

/* line 20, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper {
  display: none;
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  border-right: solid 1px black;
}

/* line 31, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .initial-wrapper {
  display: block;
  justify-content: center;
}

/* line 35, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .initial-wrapper a {
  text-decoration: none;
  color: black;
}

/* line 38, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .initial-wrapper a p {
  display: block;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  margin: 30px auto;
}

/* line 49, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .links-wrapper {
  text-align: center;
}

/* line 52, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .links-wrapper ul {
  list-style: none;
  margin: none;
  padding: 0px;
}

/* line 57, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .links-wrapper ul a {
  text-decoration: none;
  color: black;
}

/* line 61, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .links-wrapper ul a li {
  margin: 20px 0px;
  padding: 20px 0px;
  font-size: 1.1rem;
  font-weight: 600;
}

/* line 69, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .links-wrapper ul a li:hover {
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}

/* line 79, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .social-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

/* line 84, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .social-wrapper .github {
  font-size: 3rem;
  margin: auto;
}

/* line 89, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .social-wrapper .linkedin {
  font-size: 3rem;
  margin: auto;
}

/* line 94, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .social-wrapper a {
  color: black;
}

/* line 98, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .social-wrapper .linkedin-link:hover {
  color: #0072b1;
}

/* line 101, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .social-wrapper .github-link:hover {
  color: #666;
}

@media screen and (min-width: 768px) {
  /* line 111, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
  .wrapper .hamburger, .about-wrapper .hamburger {
    display: none;
  }
  /* line 116, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
  .nav-wrapper {
    display: block;
  }
}

/* line 3, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper {
  margin: 50px auto;
  justify-content: center;
}

/* line 6, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: auto;
}

/* line 12, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid div {
  margin: 20px;
}

/* line 16, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-1 {
  position: relative;
}

/* line 18, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-1 .hover-text {
  display: none;
  color: white;
  position: absolute;
  top: 120px;
  left: 45px;
  z-index: 2;
}

/* line 27, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-1 img {
  width: 100%;
  object-fit: cover;
}

/* line 32, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-1 .project-link {
  text-decoration: none;
  color: black;
}

/* line 37, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-1 .project-link:hover img {
  filter: brightness(50%);
}

/* line 41, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-1 .project-link:hover .hover-text {
  display: block;
}

/* line 46, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-2 {
  position: relative;
}

/* line 48, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-2 .hover-text {
  display: none;
  color: white;
  position: absolute;
  top: 120px;
  left: 80px;
  z-index: 2;
}

/* line 57, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-2 img {
  width: 100%;
  object-fit: cover;
}

/* line 62, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-2 .project-link {
  text-decoration: none;
  color: black;
}

/* line 67, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-2 .project-link:hover img {
  filter: brightness(50%);
}

/* line 71, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-2 .project-link:hover .hover-text {
  display: block;
}

/* line 76, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-3 {
  position: relative;
}

/* line 78, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-3 .hover-text {
  display: none;
  color: white;
  position: absolute;
  top: 120px;
  left: 80px;
  z-index: 2;
}

/* line 87, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-3 img {
  width: 100%;
  object-fit: cover;
}

/* line 92, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-3 .project-link {
  text-decoration: none;
  color: black;
}

/* line 97, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-3 .project-link:hover img {
  filter: brightness(50%);
}

/* line 101, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-3 .project-link:hover .hover-text {
  display: block;
}

/* line 106, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-4 {
  position: relative;
}

/* line 108, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-4 .hover-text {
  display: none;
  color: white;
  position: absolute;
  top: 120px;
  left: 80px;
  z-index: 2;
}

/* line 117, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-4 img {
  width: 100%;
  object-fit: cover;
}

/* line 122, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-4 .project-link {
  text-decoration: none;
  color: black;
}

/* line 127, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-4 .project-link:hover img {
  filter: brightness(50%);
}

/* line 131, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-4 .project-link:hover .hover-text {
  display: block;
}

@media screen and (min-width: 768px) {
  /* line 142, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
  .projects-wrapper .project-grid .project-1 img {
    width: 300px;
  }
  /* line 147, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
  .projects-wrapper .project-grid .project-2 img {
    width: 300px;
  }
  /* line 152, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
  .projects-wrapper .project-grid .project-3 img {
    width: 300px;
  }
  /* line 157, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
  .projects-wrapper .project-grid .project-4 img {
    width: 300px;
  }
}

@media screen and (min-width: 1200px) {
  /* line 168, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
  .projects-wrapper {
    justify-content: center;
  }
  /* line 170, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
  .projects-wrapper .project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 700px;
  }
}

/* line 5, ../../../netMatters/Portfolio/scss/contact/_contact.scss */
.contact-wrapper {
  display: block;
  height: auto;
  margin-bottom: 50px;
  justify-items: center;
  text-align: center;
}

/* line 12, ../../../netMatters/Portfolio/scss/contact/_contact.scss */
.contact-wrapper form {
  display: inline-block;
  margin: auto;
  width: 90%;
}

/* line 17, ../../../netMatters/Portfolio/scss/contact/_contact.scss */
.contact-wrapper form input[type=text], .contact-wrapper form textarea {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  resize: vertical;
  padding: 15px;
  font-size: 1.1rem;
}

/* line 27, ../../../netMatters/Portfolio/scss/contact/_contact.scss */
.contact-wrapper form input[type=submit] {
  display: block;
  margin-top: 20px;
  border: none;
  padding: 15px 20px;
  background-color: #888;
  color: white;
  font-size: 1.2rem;
}

/* line 37, ../../../netMatters/Portfolio/scss/contact/_contact.scss */
.contact-wrapper form input[type=submit]:hover {
  background-color: #555;
  cursor: pointer;
}

/* line 42, ../../../netMatters/Portfolio/scss/contact/_contact.scss */
.contact-wrapper form label {
  display: block;
  text-align: left;
}

@media screen and (min-width: 768px) {
  /* line 51, ../../../netMatters/Portfolio/scss/contact/_contact.scss */
  .contact-wrapper form {
    width: 400px;
  }
  /* line 53, ../../../netMatters/Portfolio/scss/contact/_contact.scss */
  .contact-wrapper form input[type=text], .contact-wrapper form textarea {
    width: 400px;
  }
}

@media screen and (min-width: 1200px) {
  /* line 62, ../../../netMatters/Portfolio/scss/contact/_contact.scss */
  .contact-wrapper form {
    width: 600px;
  }
  /* line 64, ../../../netMatters/Portfolio/scss/contact/_contact.scss */
  .contact-wrapper form input[type=text], .contact-wrapper form textarea {
    width: 600px;
  }
}

/* line 3, ../../../netMatters/Portfolio/scss/scs/_scs.scss */
.main-wrapper {
  display: grid;
  justify-items: left;
  width: 350px;
  margin: 30px 20px;
  line-height: 2rem;
}

/* line 10, ../../../netMatters/Portfolio/scss/scs/_scs.scss */
.main-wrapper a {
  color: #222;
}

/* line 14, ../../../netMatters/Portfolio/scss/scs/_scs.scss */
.main-wrapper p {
  text-align: left;
}

/* line 18, ../../../netMatters/Portfolio/scss/scs/_scs.scss */
.main-wrapper h2 {
  text-align: left;
}

/* line 22, ../../../netMatters/Portfolio/scss/scs/_scs.scss */
.main-wrapper .about-nm {
  text-align: left;
}

/* line 26, ../../../netMatters/Portfolio/scss/scs/_scs.scss */
.main-wrapper .portrait {
  margin: auto;
}

/* line 28, ../../../netMatters/Portfolio/scss/scs/_scs.scss */
.main-wrapper .portrait img {
  width: 200px;
  border-radius: 50%;
}

@media screen and (min-width: 500px) {
  /* line 36, ../../../netMatters/Portfolio/scss/scs/_scs.scss */
  .main-wrapper {
    margin: 30px auto;
  }
}

@media screen and (min-width: 1200px) {
  /* line 42, ../../../netMatters/Portfolio/scss/scs/_scs.scss */
  .main-wrapper {
    width: 700px;
  }
}

/* line 3, ../../../netMatters/Portfolio/scss/code/_code.scss */
.coming-soon-wrapper {
  display: flex;
  text-align: center;
  vertical-align: middle;
}

/* line 7, ../../../netMatters/Portfolio/scss/code/_code.scss */
.coming-soon-wrapper img {
  width: 80%;
  margin: auto;
}

/* line 10, ../../../netMatters/Portfolio/scss/main.scss */
* {
  box-sizing: border-box;
}

/* line 14, ../../../netMatters/Portfolio/scss/main.scss */
html {
  background-color: white;
}

/* line 18, ../../../netMatters/Portfolio/scss/main.scss */
body {
  font-family: 'Noto Sans Mono', monospace;
  margin: 0px;
}

/*# sourceMappingURL=main.css.map */