/* line 3, ../../../netMatters/Portfolio/scss/header/_header.scss */
.wrapper {
  display: block;
  background-color: white;
}

/* line 6, ../../../netMatters/Portfolio/scss/header/_header.scss */
.wrapper .header-wrapper {
  display: grid;
  background-image: url(../img/header.jpg);
  background-size: cover;
  height: 100vh;
  width: auto;
}

/* line 13, ../../../netMatters/Portfolio/scss/header/_header.scss */
.wrapper .header-wrapper .header-text {
  display: grid;
  background-color: rgba(255, 255, 255, 0.8);
  margin: auto;
  margin-top: 35vh;
  padding: 10px 5px;
  width: 100%;
  height: 160px;
  justify-items: center;
}

/* line 24, ../../../netMatters/Portfolio/scss/header/_header.scss */
.wrapper .header-wrapper .header-text h1 {
  text-align: center;
  display: block;
  font-size: 1.4rem;
  margin: 10px 0px;
  color: black;
}

/* line 32, ../../../netMatters/Portfolio/scss/header/_header.scss */
.wrapper .header-wrapper .header-text p {
  display: block;
  font-size: 1.2rem;
  margin: 10px;
  color: black;
}

/* line 40, ../../../netMatters/Portfolio/scss/header/_header.scss */
.wrapper .header-wrapper .scroll-wrapper {
  display: flex;
  height: 100%;
  margin: auto;
}

/* line 45, ../../../netMatters/Portfolio/scss/header/_header.scss */
.wrapper .header-wrapper .scroll-wrapper a {
  display: grid;
  text-decoration: none;
  margin: auto auto 10px;
  align-self: flex-end;
}

/* line 51, ../../../netMatters/Portfolio/scss/header/_header.scss */
.wrapper .header-wrapper .scroll-wrapper a .fa-arrow-down {
  margin: auto;
  color: white;
  font-size: 2.5rem;
}

/* line 57, ../../../netMatters/Portfolio/scss/header/_header.scss */
.wrapper .header-wrapper .scroll-wrapper a p {
  margin: auto;
  color: white;
  font-size: 1.5rem;
}

/* line 70, ../../../netMatters/Portfolio/scss/header/_header.scss */
.wrapper .scroll-wrapper-bottom {
  display: flex;
  height: 100%;
  margin: 20px;
}

/* line 75, ../../../netMatters/Portfolio/scss/header/_header.scss */
.wrapper .scroll-wrapper-bottom a {
  display: grid;
  text-decoration: none;
  margin: auto auto 10px;
  align-self: flex-end;
}

/* line 81, ../../../netMatters/Portfolio/scss/header/_header.scss */
.wrapper .scroll-wrapper-bottom a .fa-arrow-up {
  margin: auto;
  color: black;
  font-size: 2.5rem;
}

/* line 87, ../../../netMatters/Portfolio/scss/header/_header.scss */
.wrapper .scroll-wrapper-bottom a p {
  margin: auto;
  color: black;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  /* line 102, ../../../netMatters/Portfolio/scss/header/_header.scss */
  .wrapper .header-wrapper .header-text {
    width: 450px;
    padding: 10px;
  }
}

@media screen and (min-width: 1200px) {
  /* line 113, ../../../netMatters/Portfolio/scss/header/_header.scss */
  .wrapper .header-wrapper .header-text {
    padding: 20px;
    width: 600px;
  }
}

/* line 4, ../../../netMatters/Portfolio/scss/header/_header-page.scss */
.about-wrapper .header-about-wrapper {
  display: grid;
  background-image: url(../img/header-top.jpg);
  background-size: cover;
  height: 300px;
  justify-content: center;
}

/* line 11, ../../../netMatters/Portfolio/scss/header/_header-page.scss */
.about-wrapper .header-about-wrapper .header-about-title {
  display: inline-block;
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  width: 350px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  vertical-align: middle;
}

/* line 21, ../../../netMatters/Portfolio/scss/header/_header-page.scss */
.about-wrapper .header-about-wrapper .header-about-title h1 {
  margin: auto;
  vertical-align: middle;
}

/* line 3, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.wrapper, .about-wrapper {
  position: relative;
}

/* line 5, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.wrapper .hamburger, .about-wrapper .hamburger {
  position: fixed;
  z-index: 5;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

/* line 11, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.wrapper .hamburger .fa-bars, .about-wrapper .hamburger .fa-bars {
  font-size: 3rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 10px;
}

/* line 21, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper {
  height: 100%;
  width: 0px;
  position: fixed;
  overflow-x: hidden;
  z-index: 8;
  top: 0;
  left: 0;
  transition: 0.5s;
  background-color: #fff;
  border-right: solid 1px black;
}

/* line 34, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .initial-wrapper {
  display: block;
  justify-content: center;
  position: relative;
}

/* line 39, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .initial-wrapper a {
  text-decoration: none;
  color: black;
}

/* line 42, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .initial-wrapper a p {
  display: block;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  margin: 30px auto;
}

/* line 51, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .initial-wrapper .closebtn {
  position: absolute;
  top: -40px;
  right: 10px;
  text-decoration: none;
  color: black;
  font-size: 3rem;
}

/* line 61, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .links-wrapper {
  text-align: center;
}

/* line 64, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .links-wrapper ul {
  list-style: none;
  margin: none;
  padding: 0px;
  transition: 0.3s;
}

/* line 70, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .links-wrapper ul a {
  text-decoration: none;
  color: black;
}

/* line 74, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .links-wrapper ul a li {
  margin: 0px;
  padding: 20px 0px;
  font-size: 1.1rem;
  font-weight: 600;
  border-top: solid 2px white;
  border-bottom: solid 2px white;
}

/* line 84, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .links-wrapper ul a li:hover {
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}

/* line 94, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .social-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

/* line 99, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .social-wrapper .github {
  font-size: 3rem;
  margin: auto;
}

/* line 104, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .social-wrapper .linkedin {
  font-size: 3rem;
  margin: auto;
}

/* line 109, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .social-wrapper a {
  color: black;
}

/* line 113, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .social-wrapper .linkedin-link:hover {
  color: #0072b1;
}

/* line 116, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .social-wrapper .github-link:hover {
  color: #666;
}

@media screen and (min-width: 768px) {
  /* line 126, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
  .wrapper .hamburger, .about-wrapper .hamburger {
    display: block;
  }
  /* line 131, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
  .nav-wrapper {
    display: block;
  }
  /* line 135, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
  .nav-wrapper .initial-wrapper .closebtn {
    display: block;
  }
}

/* line 3, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper {
  margin: 50px auto;
  justify-content: center;
}

/* line 7, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper h2 {
  display: block;
  text-align: center;
}

/* line 11, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: auto;
}

/* line 17, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid div {
  margin: 20px;
}

/* line 21, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-1 {
  position: relative;
  border: 1px solid #ccc;
  max-width: 500px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  transition: all 1s;
}

/* line 28, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-1 img {
  width: 100%;
  max-width: 500px;
  object-fit: cover;
  border-bottom: 1px solid #ccc;
}

/* line 35, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-1 .project-1-name {
  padding: 5px 10px;
  margin: auto;
  text-align: justify;
}

/* line 41, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-1 .project-link {
  text-decoration: none;
  color: black;
}

/* line 46, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-1 .project-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  margin: 5px;
}

/* line 52, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-1 .project-links a {
  text-decoration: none;
}

/* line 56, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-1 .project-links .project-view, .projects-wrapper .project-grid .project-1 .project-links .project-git {
  text-align: center;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  color: black;
}

/* line 64, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-1 .project-links .project-view:hover, .projects-wrapper .project-grid .project-1 .project-links .project-git:hover {
  border: none;
  background-color: black;
  color: white;
}

/* line 72, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-2 {
  position: relative;
  border: 1px solid #ccc;
  max-width: 500px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  transition: all 1s;
}

/* line 79, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-2 img {
  width: 100%;
  object-fit: cover;
  border-bottom: 1px solid #ccc;
}

/* line 85, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-2 .project-link {
  text-decoration: none;
  color: black;
}

/* line 90, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-2 .project-2-name {
  padding: 5px 10px;
  margin: auto;
  text-align: justify;
}

/* line 96, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-2 .project-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  margin: 5px;
}

/* line 102, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-2 .project-links a {
  text-decoration: none;
}

/* line 106, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-2 .project-links .project-view, .projects-wrapper .project-grid .project-2 .project-links .project-git {
  text-align: center;
  border: 1px solid black;
  margin: 5px;
  margin-top: 27px;
  padding: 5px;
  color: black;
}

/* line 115, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-2 .project-links .project-view:hover, .projects-wrapper .project-grid .project-2 .project-links .project-git:hover {
  border: none;
  background-color: black;
  color: white;
}

/* line 123, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-3 {
  position: relative;
  border: 1px solid #ccc;
  max-width: 500px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  transition: all 1s;
}

/* line 130, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-3 img {
  width: 100%;
  object-fit: cover;
  border-bottom: 1px solid #ccc;
}

/* line 136, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-3 .project-3-name {
  padding: 5px 10px;
  margin: auto;
  text-align: justify;
}

/* line 142, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-3 .project-link {
  text-decoration: none;
  color: black;
}

/* line 147, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-3 .project-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  margin: 5px;
}

/* line 153, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-3 .project-links a {
  text-decoration: none;
}

/* line 157, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-3 .project-links .project-view, .projects-wrapper .project-grid .project-3 .project-links .project-git {
  text-align: center;
  border: 1px solid black;
  margin: 5px;
  margin-top: 48px;
  padding: 5px;
  color: black;
}

/* line 166, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-3 .project-links .project-view:hover, .projects-wrapper .project-grid .project-3 .project-links .project-git:hover {
  border: none;
  background-color: black;
  color: white;
}

/* line 174, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-4 {
  position: relative;
  border: 1px solid #ccc;
  max-width: 500px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  transition: all 1s;
}

/* line 181, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-4 img {
  width: 100%;
  object-fit: cover;
  border-bottom: 1px solid #ccc;
}

/* line 187, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-4 .project-4-name {
  padding: 5px 10px;
  margin: auto;
  text-align: justify;
}

/* line 193, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-4 .project-link {
  text-decoration: none;
  color: black;
}

/* line 198, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-4 .project-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  margin: 5px;
}

/* line 204, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-4 .project-links a {
  text-decoration: none;
}

/* line 208, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-4 .project-links .project-view, .projects-wrapper .project-grid .project-4 .project-links .project-git {
  text-align: center;
  border: 1px solid black;
  margin: 5px;
  margin-top: 27px;
  padding: 5px;
  color: black;
}

/* line 217, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
.projects-wrapper .project-grid .project-4 .project-links .project-view:hover, .projects-wrapper .project-grid .project-4 .project-links .project-git:hover {
  border: none;
  background-color: black;
  color: white;
}

@media screen and (min-width: 768px) {
  /* line 231, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
  .projects-wrapper .project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 700px;
  }
  /* line 236, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
  .projects-wrapper .project-grid .project-1 img, .projects-wrapper .project-grid .project-2 img, .projects-wrapper .project-grid .project-3 img, .projects-wrapper .project-grid .project-4 img {
    width: 100%;
  }
  /* line 240, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
  .projects-wrapper .project-grid .project-1:hover, .projects-wrapper .project-grid .project-2:hover, .projects-wrapper .project-grid .project-3:hover, .projects-wrapper .project-grid .project-4:hover {
    transform: scale(1.1);
  }
}

@media screen and (min-width: 1200px) {
  /* line 250, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
  .projects-wrapper {
    justify-content: center;
  }
  /* line 252, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
  .projects-wrapper .project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 1200px;
  }
  /* line 258, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
  .projects-wrapper .project-grid .project-2 .project-links {
    margin-top: 26px;
  }
  /* line 264, ../../../netMatters/Portfolio/scss/projects/_projects.scss */
  .projects-wrapper .project-grid .project-4 .project-links {
    margin-top: 26px;
  }
}

/* line 5, ../../../netMatters/Portfolio/scss/contact/_contact.scss */
.contact-wrapper {
  display: block;
  height: auto;
  margin-bottom: 50px;
  justify-items: center;
  text-align: center;
}

/* line 12, ../../../netMatters/Portfolio/scss/contact/_contact.scss */
.contact-wrapper form {
  display: inline-block;
  margin: auto;
  width: 90%;
}

/* line 17, ../../../netMatters/Portfolio/scss/contact/_contact.scss */
.contact-wrapper form input[type=text], .contact-wrapper form textarea {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  resize: vertical;
  padding: 15px;
  font-size: 1.1rem;
  font-family: 'Noto Sans Mono', monospace;
}

/* line 28, ../../../netMatters/Portfolio/scss/contact/_contact.scss */
.contact-wrapper form .form-field {
  margin: 10px 0px;
}

/* line 32, ../../../netMatters/Portfolio/scss/contact/_contact.scss */
.contact-wrapper form input[type=submit] {
  display: block;
  margin-top: 20px;
  border: none;
  width: 150px;
  padding: 15px 20px;
  background-color: #888;
  color: white;
  font-size: 1.3rem;
}

/* line 44, ../../../netMatters/Portfolio/scss/contact/_contact.scss */
.contact-wrapper form input[type=submit]:hover {
  background-color: #555;
  cursor: pointer;
}

/* line 49, ../../../netMatters/Portfolio/scss/contact/_contact.scss */
.contact-wrapper form label {
  display: block;
  text-align: left;
}

/* line 56, ../../../netMatters/Portfolio/scss/contact/_contact.scss */
.success input[type=text] {
  box-shadow: 0px 0px 5px lime;
}

/* line 60, ../../../netMatters/Portfolio/scss/contact/_contact.scss */
.success textarea {
  box-shadow: 0px 0px 5px lime;
}

/* line 64, ../../../netMatters/Portfolio/scss/contact/_contact.scss */
.error input[type=text] {
  box-shadow: 0px 0px 5px red;
}

/* line 68, ../../../netMatters/Portfolio/scss/contact/_contact.scss */
.error textarea {
  box-shadow: 0px 0px 5px red;
}

@media screen and (min-width: 768px) {
  /* line 74, ../../../netMatters/Portfolio/scss/contact/_contact.scss */
  .contact-wrapper form {
    width: 650px;
  }
  /* line 76, ../../../netMatters/Portfolio/scss/contact/_contact.scss */
  .contact-wrapper form input[type=text], .contact-wrapper form textarea {
    width: 650px;
  }
}

@media screen and (min-width: 1200px) {
  /* line 85, ../../../netMatters/Portfolio/scss/contact/_contact.scss */
  .contact-wrapper form {
    width: 650px;
  }
  /* line 87, ../../../netMatters/Portfolio/scss/contact/_contact.scss */
  .contact-wrapper form input[type=text], .contact-wrapper form textarea {
    width: 650px;
  }
}

/* line 3, ../../../netMatters/Portfolio/scss/scs/_scs.scss */
.main-wrapper {
  display: grid;
  justify-items: left;
  width: 350px;
  margin: 30px 20px;
  line-height: 2rem;
}

/* line 10, ../../../netMatters/Portfolio/scss/scs/_scs.scss */
.main-wrapper a {
  color: #222;
}

/* line 14, ../../../netMatters/Portfolio/scss/scs/_scs.scss */
.main-wrapper p {
  text-align: left;
}

/* line 18, ../../../netMatters/Portfolio/scss/scs/_scs.scss */
.main-wrapper h2 {
  text-align: left;
}

/* line 22, ../../../netMatters/Portfolio/scss/scs/_scs.scss */
.main-wrapper .about-nm {
  text-align: left;
}

/* line 26, ../../../netMatters/Portfolio/scss/scs/_scs.scss */
.main-wrapper .portrait {
  margin: auto;
}

/* line 28, ../../../netMatters/Portfolio/scss/scs/_scs.scss */
.main-wrapper .portrait img {
  width: 200px;
  border-radius: 50%;
}

/* line 36, ../../../netMatters/Portfolio/scss/scs/_scs.scss */
.wrapper .footer, .main-wrapper .footer, .about-wrapper .footer {
  position: static;
  border-top: solid 1px black;
  background-color: white;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  justify-self: center;
  margin: auto;
}

@media screen and (min-width: 500px) {
  /* line 50, ../../../netMatters/Portfolio/scss/scs/_scs.scss */
  .main-wrapper {
    margin: 30px auto;
  }
}

@media screen and (min-width: 1024px) {
  /* line 56, ../../../netMatters/Portfolio/scss/scs/_scs.scss */
  .main-wrapper {
    width: 700px;
  }
}

/* line 3, ../../../netMatters/Portfolio/scss/code/_code.scss */
.about-wrapper {
  justify-content: center;
  width: 100vw;
}

/* line 6, ../../../netMatters/Portfolio/scss/code/_code.scss */
.about-wrapper .code {
  margin: 10px;
}

/* line 8, ../../../netMatters/Portfolio/scss/code/_code.scss */
.about-wrapper .code h2 {
  text-align: center;
}

/* line 11, ../../../netMatters/Portfolio/scss/code/_code.scss */
.about-wrapper .code img {
  width: 100%;
  height: auto;
}

/* line 16, ../../../netMatters/Portfolio/scss/code/_code.scss */
.about-wrapper .code p {
  text-align: center;
}

/* Cursor */
/* line 3, ../../../netMatters/Portfolio/scss/typed/_typed.scss */
.typed-cursor {
  display: none;
}

/* line 11, ../../../netMatters/Portfolio/scss/main.scss */
* {
  box-sizing: border-box;
}

/* line 15, ../../../netMatters/Portfolio/scss/main.scss */
html {
  background-color: white;
  scroll-behavior: smooth;
}

/* line 20, ../../../netMatters/Portfolio/scss/main.scss */
body {
  font-family: 'Noto Sans Mono', monospace;
  margin: 0px;
}

/*# sourceMappingURL=main.css.map */