/* line 3, ../../../netMatters/Portfolio/scss/header/_header.scss */
.main-wrapper {
  display: block;
}

/* line 5, ../../../netMatters/Portfolio/scss/header/_header.scss */
.main-wrapper .header-wrapper {
  display: grid;
  background-image: url(../img/header.jpg);
  background-size: cover;
  height: 100vh;
}

/* line 10, ../../../netMatters/Portfolio/scss/header/_header.scss */
.main-wrapper .header-wrapper .header-text {
  display: grid;
  background-color: rgba(255, 255, 255, 0.8);
  margin: auto;
  width: 1000px;
  height: 200px;
  justify-items: center;
}

/* line 18, ../../../netMatters/Portfolio/scss/header/_header.scss */
.main-wrapper .header-wrapper .header-text h1 {
  display: block;
  font-size: 3rem;
  margin: auto;
  color: black;
}

/* line 25, ../../../netMatters/Portfolio/scss/header/_header.scss */
.main-wrapper .header-wrapper .header-text p {
  display: block;
  font-size: 2rem;
  margin: auto;
  color: black;
}

/* line 3, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper {
  display: block;
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
}

/* line 13, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .initial-wrapper {
  display: block;
  justify-content: center;
}

/* line 17, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .initial-wrapper p {
  display: block;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  margin: 30px auto;
}

/* line 26, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .links-wrapper {
  text-align: center;
}

/* line 29, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .links-wrapper ul {
  list-style: none;
  margin: none;
  padding: 0px;
}

/* line 34, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .links-wrapper ul a {
  text-decoration: none;
  color: black;
}

/* line 38, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .links-wrapper ul a li {
  margin: 20px 0px;
  padding: 20px 0px;
  font-size: 1.2rem;
  font-weight: 600;
}

/* line 46, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .links-wrapper ul a li:hover {
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}

/* line 56, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .social-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

/* line 61, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .social-wrapper .github {
  font-size: 3rem;
  margin: auto;
}

/* line 66, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .social-wrapper .linkedin {
  font-size: 3rem;
  margin: auto;
}

/* line 71, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .social-wrapper a {
  color: black;
}

/* line 75, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .social-wrapper .linkedin-link:hover {
  color: #0072b1;
}

/* line 78, ../../../netMatters/Portfolio/scss/side_nav/_side_nav.scss */
.nav-wrapper .social-wrapper .github-link:hover {
  color: #666;
}

/* line 8, ../../../netMatters/Portfolio/scss/main.scss */
* {
  box-sizing: border-box;
}

/* line 12, ../../../netMatters/Portfolio/scss/main.scss */
body {
  font-family: 'Noto Sans Mono', monospace;
  margin: 0px;
}

/*# sourceMappingURL=main.css.map */