// Index Imports

@import 'header/index.scss';
@import 'side_nav/index.scss';
@import 'projects/index.scss';
@import 'contact/_index.scss';
@import 'scs/index';
@import 'code/index';
@import 'typed/index';

* {
    box-sizing: border-box;
}

html {
    background-color: white;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans Mono', monospace;
    margin: 0px;
    min-height: 100vh;
}