// About page Header SCSS

.about-wrapper {
    .header-about-wrapper {
        display: grid;
        background-image: url(../img/header-top.jpg);
        background-size: cover;
        height: 300px;
        justify-content: center;

        .header-about-title {
            display: inline-block;
            font-size: 1.5rem;
            background-color: rgba(#fff, 0.8);
            width: 100vw;
            margin: auto;
            margin-top: 100px;
            text-align: center;
            vertical-align: middle;

            h1 {
                margin: auto;
                vertical-align: middle;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .about-wrapper {
        .header-about-wrapper {
            .header-about-title {
                width: 350px;
            }
        }
    }
}