// Projects SCSS

.projects-wrapper {
    margin: 50px auto;
    justify-content: center;

    h2 {
        display: block;
        text-align: center;
    }
    .project-grid {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        margin: auto;

        div {
            margin: 20px;
        }

        .project-1 {
            position: relative;
            border: 1px solid #ccc;
            max-width: 500px;
            box-shadow: 2px 2px 10px rgba(#000000, 0.3);
            transition: all 1s;

            img {
                width: 100%;
                max-width: 500px;
                object-fit: cover;
                border-bottom: 1px solid #ccc;
            }

            .project-1-name {
                padding: 5px 10px;
                margin: auto;
                text-align: justify;
            }

            .project-link {
                text-decoration: none;
                color: black;
            }

            .project-links {
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-content: space-between;
                margin: 5px;

                a {
                    text-decoration: none;
                }

                .project-view, .project-git {
                    text-align: center;
                    border: 1px solid black;
                    margin: 5px;
                    padding: 5px;
                    color: black;
                }

                .project-view:hover, .project-git:hover {
                    border: none;
                    background-color: black;
                    color: white;
                }
            }
        }

        .project-2 {
            position: relative;
            border: 1px solid #ccc;
            max-width: 500px;
            box-shadow: 2px 2px 10px rgba(#000000, 0.3);
            transition: all 1s;

            img {
                width: 100%;
                object-fit: cover;
                border-bottom: 1px solid #ccc;
            }

            .project-link {
                text-decoration: none;
                color: black;
            }

            .project-2-name {
                padding: 5px 10px;
                margin: auto;
                text-align: justify;
            }

            .project-links {
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-content: space-between;
                margin: 5px;

                a {
                    text-decoration: none;
                }

                .project-view, .project-git {
                    text-align: center;
                    border: 1px solid black;
                    margin: 5px;
                    margin-top: 27px;
                    padding: 5px;
                    color: black;
                }

                .project-view:hover, .project-git:hover {
                    border: none;
                    background-color: black;
                    color: white;
                }
            }
        }

        .project-3 {
            position: relative;
            border: 1px solid #ccc;
            max-width: 500px;
            box-shadow: 2px 2px 10px rgba(#000000, 0.3);
            transition: all 1s;

            img {
                width: 100%;
                object-fit: cover;
                border-bottom: 1px solid #ccc;
            }

            .project-3-name {
                padding: 5px 10px;
                margin: auto;
                text-align: justify;
            }

            .project-link {
                text-decoration: none;
                color: black;
            }

            .project-links {
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-content: space-between;
                margin: 5px;

                a {
                    text-decoration: none;
                }

                .project-view, .project-git {
                    text-align: center;
                    border: 1px solid black;
                    margin: 5px;
                    margin-top: 48px;
                    padding: 5px;
                    color: black;
                }

                .project-view:hover, .project-git:hover {
                    border: none;
                    background-color: black;
                    color: white;
                }
            }
        }

        .project-4 {
            position: relative;
            border: 1px solid #ccc;
            max-width: 500px;
            box-shadow: 2px 2px 10px rgba(#000000, 0.3);
            transition: all 1s;

            img {
                width: 100%;
                object-fit: cover;
                border-bottom: 1px solid #ccc;
            }

            .project-4-name {
                padding: 5px 10px;
                margin: auto;
                text-align: justify;
            }

            .project-link {
                text-decoration: none;
                color: black;
            }

            .project-links {
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-content: space-between;
                margin: 5px;

                a {
                    text-decoration: none;
                }

                .project-view, .project-git {
                    text-align: center;
                    border: 1px solid black;
                    margin: 5px;
                    margin-top: 27px;
                    padding: 5px;
                    color: black;
                }

                .project-view:hover, .project-git:hover {
                    border: none;
                    background-color: black;
                    color: white;
                }
            }
        }

        
    }
}

@media screen and (min-width: 768px) {
    .projects-wrapper {
        .project-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 700px;
            .project-1, .project-2, .project-3, .project-4 {
                img {
                    width: 100%;
                }
            }
            .project-1:hover, .project-2:hover, .project-3:hover, .project-4:hover {
                transform: scale(1.1);
            }
        }
    }
    
    
}

@media screen and (min-width: 1200px) {
    .projects-wrapper {
        justify-content: center;
        .project-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 700px;
        }
    }
}