// code examples scss

.about-wrapper {
    justify-content: center;
    width: 100vw;
    .main-wrapper {  
        margin-bottom: 290px;
        .code {
            h2 {
                text-align: center;
            }
            img {
                width: 100%;
                height: auto;
            }
            
            p {
                text-align: center;
            }
        }
    }
    
}