// code examples scss

.main-wrapper {
    justify-content: center;
    
    .code {
        h2 {
            text-align: center;
        }
        img {
            width: 100%;
            height: auto;
        }
        
        p {
            text-align: center;
        }
    }
}