// Scs Scheme SCSS

.main-wrapper {
    display: grid;
    justify-items: left;
    width: 350px;
    margin: 30px 20px;
    line-height: 2rem;

    a {
        color: #222;
    }

    p {
        text-align: left;
    }

    h2 {
        text-align: left;
    }

    .about-nm {
        text-align: left;
    }

    .portrait {
        margin: auto;
        img {
            width: 200px;
            border-radius: 50%;
        }
    }
}

.wrapper, .main-wrapper, .about-wrapper {
    .footer {
        position: static;
        border-top: solid 1px black;
        background-color: white;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        justify-self: center;
        margin: auto;
    }
}

@media screen and (min-width: 500px) {
    .main-wrapper {
        margin: 30px auto;
    }
}

@media screen and (min-width: 1024px) {
    .main-wrapper {
        width: 700px;
    }
}