// Scs Scheme SCSS

.main-wrapper {
    display: grid;
    justify-items: left;
    width: 400px;
    margin: 30px auto;
    line-height: 2rem;

    a {
        color: #222;
    }

    p {
        text-align: left;
    }

    h2 {
        text-align: left;
    }

    .about-nm {
        text-align: left;
    }
}

@media screen and (min-width: 1200px) {
    .main-wrapper {
        width: 700px;
    }
}