// Side Nav SCSS

.wrapper, .about-wrapper {
    position: relative;
    .hamburger {
        position: absolute;
        z-index: 2;
        top: 0px;
        left: 0px;
        .fa-bars {
            font-size: 3rem;
            background-color: rgba(#fff, 0.8);
            border-radius: 5px;
            padding: 10px;
        }
    }
}


.nav-wrapper {
    display: none;
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    border-right: solid 1px black;

    .initial-wrapper {
        display: block;
        justify-content: center;
        
        a {
            text-decoration: none;
            color: black;
            p {
                display: block;
                text-align: center;
                font-size: 4rem;
                font-weight: 600;
                margin: 30px auto;
            }
        }
        
    }

    .links-wrapper {

        text-align: center;
        ul {
            list-style: none;
            margin: none;
            padding: 0px;

            a {
                text-decoration: none;
                color: black;

                li {
                    margin: 20px 0px;
                    padding: 20px 0px;
                    font-size: 1.1rem;
                    font-weight: 600;  
                    
                }
    
                li:hover {
                    border-top: solid 2px black;
                    border-bottom: solid 2px black;
                }
            }

            
        }
    }

    .social-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        
        .github {
            font-size: 3rem;
            margin: auto;
            
        }
        .linkedin {
            font-size: 3rem;
            margin: auto;
        }

        a {
            color: black;
        }

        .linkedin-link:hover {
            color: #0072b1;            
        }
        .github-link:hover {
            color: #666;
        }
    }

}

@media screen and (min-width: 768px) {

    .wrapper, .about-wrapper {
        .hamburger {
            display: none;
        }
    }

    .nav-wrapper { 
        display: block;
    }
}