// Side Nav SCSS

.wrapper, .about-wrapper {
    position: relative;
    .hamburger {
        position: fixed;
        z-index: 5;
        top: 20px;
        left: 20px;
        cursor: pointer;
        .fa-bars {
            font-size: 3rem;
            background-color: rgba(#fff, 0.8);
            border-radius: 5px;
            padding: 10px;
        }
    }
}


.nav-wrapper {
    
    height: 100%;
    width: 0px;
    position: fixed;
    overflow-x: hidden;
    z-index: 8;
    top: 0;
    left: 0;
    transition: 0.5s;
    background-color: #fff;
    border-right: solid 1px black;

    .initial-wrapper {
        display: block;
        justify-content: center;
        position: relative;
        
        a {
            text-decoration: none;
            color: black;
            p {
                display: block;
                text-align: center;
                font-size: 4rem;
                font-weight: 600;
                margin: 30px auto;
            }
        }   
        
        .closebtn {
            position: absolute;
            top: -40px;
            right: 10px;
            text-decoration: none;
            color: black;
            font-size: 3rem;
        }
    }

    .links-wrapper {

        text-align: center;
        ul {
            list-style: none;
            margin: none;
            padding: 0px;
            transition: 0.3s;

                li {
                    margin: 0px;
                    padding: 20px 0px;
                    font-size: 1.1rem;
                    font-weight: 600;  
                    border-top: solid 2px white;
                    border-bottom: solid 2px white;
                    
                    a {
                        text-decoration: none;
                        color: black;
                        margin: auto;
                    }
                }
    
                li:hover {
                    border-top: solid 2px black;
                    border-bottom: solid 2px black;
                }            
        }
    }

    .social-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        
        .github {
            font-size: 3rem;
            margin: auto;
            
        }
        .linkedin {
            font-size: 3rem;
            margin: auto;
        }

        a {
            color: black;
        }

        .linkedin-link:hover {
            color: #0072b1;            
        }
        .github-link:hover {
            color: #666;
        }
    }

}

@media screen and (min-width: 768px) {

    .wrapper, .about-wrapper {
        .hamburger {
            display: block;
        }
    }

    .nav-wrapper { 
        display: block;
        //width: 150px;
        .initial-wrapper {
            .closebtn {
                display: block;
            }
        }
    }
}